*{
	margin:0;
	padding: 0;
}
#contenido{
	width:1200px;
	height:auto;
	margin:auto;
	position:relative;
	background:#FFFFFF;
}
@font-face{
	font-family: 'Franklin-gothic-book';
	src:url(./font/franklin-gothic-book.ttf)format("truetype");
}
@font-face{
	font-family: 'franklin-gothic-book-italic';
	src:url(./font/franklin-gothic-book-italic.ttf) format("truetype");
}
@font-face{
	font-family: 'Franklin-gothic-heavy';
	src:url(./font/franklin-gothic-heavy.ttf) format("truetype");
}
body{
	background:#FFFFFF;
}
header{
	background-image: url(../img/header1.jpg);
	background-color: #005883;
	background-size: 1180px;
	background-position: center center;
	height: 260px;
	width:1200px;
	margin-top:10px;	
	border-radius: 5px;
}
h1{
	font-family: 'franklin-gothic-book-italic';
	color:#F0B429;
	text-align: center;
	font-size:45px;
	margin-left:30px;
}
h2{
	font-family: 'Franklin-gothic-heavy';
	color:black;
	text-align: left;
	font-size:30px;	
	margin-top: 15px;
}
nav{
	width:800px;
	height: 40px;
	margin: 3px 0 5px 0;
	background: #FFFFFF;
}
#menu{
	list-style: none;
	margin:1px 0 1px 4px;
}
#menu li{			
	margin:4px 4px 5px 2px;	
}
#menu>li{
	float:left;
}
#menu li ul{
	display:none;
	position:absolute;
	min-width: 120px;
	list-style: none;
	text-align: center;
}
#menu li:hover>ul{
	display:block;
}
#menu li a{	
	display: block;
	text-decoration: none;	
	padding: 15px;	
	background: #B3B3B3;
	font-weight: bold;
	font-size: 20px;
	color: black;
	line-height: 8px;
	border-radius: 5px;
	border:1px solid black;	
}
#menu li a:hover{
	background: #FFFFFF;
	color:#005883;
}
section{
	width: 800px;
	height:648px;
	background: #FFFFFF;
	float: left;
}
#i1{
	width: 800px;
	border-radius: 5px;
}
#p1{
	font-family: 'Franklin-gothic-book';
	font-size: 20px;
	text-align: justify;
	margin-top: 5px;
}
h4{
	font-family: 'Franklin-gothic-heavy';
	color:black;
	text-align: left;
	font-size:20px;	
	margin: 20px 5px 2px 300px;
}
#p4{
	font-family: 'Franklin-gothic-book';
	font-size: 18px;
	text-align: justify;
	margin: 15px 5px 5px 300px;
	float:center;
}
#i2{
	width: 280px;
	border-radius: 5px;
	margin-top: 50px;
	float:left;
}
#aside1{
	width: 390px;
	height: 700px;
	float:left;
	background: #F0B429;
	margin: -52px 0 0 10px;
	border-radius: 5px;
}
#p2{
	font-family: 'Franklin-gothic-book';
	font-size: 25px;
	text-align: center;
	margin: 60px 10px 20px 10px;
}
h3{
	font-family: 'Franklin-gothic-heavy';
	color:black;
	text-align: left;
	font-size:35px;	
	margin: 20px 0px 10px 10px;
}
#i{
	text-decoration: none;
	font-family: 'Franklin-gothic-book';
	font-size: 20px;
	color:blue;	
}
#i:hover{
	text-decoration: none;
	font-family: 'Franklin-gothic-book';
	font-size: 30px;
	color:blue;	
}
footer{
	width: 1200px;
	height: 60px;	
	background-image: url(../img/Pie.jpg);
	background-color: #005883;
	float:left;	
	border-radius: 5px;
}
#p3{
	font-size: 20px;
	color:white;	
	text-align: center;	
	margin-top: 20px;
}
#p5{
	margin: 10px;
	font-size: 20px;
}
/*Específico para autores*/
#autores{
	width: 1200px;
	height: 650px;
}
#p6{
	font-family: 'Franklin-gothic-book';
	color:#FFFFFF;
	font-size: 18px;
	text-align: center;
	margin:20px 5px 5px 5px;
}
#i3{
	display: block;
	margin:auto;
	padding:10px;
	border-style: solid;
	border-radius: 5px;
	border-color: #FFFFFF;
}
#autor1{
	float:left;
	background: #808080;
	width: 370px;
	height: 640px;
	border-radius: 5px;
	margin:5px 10px 5px 25px;
}
#autor2{
	float:left;
	background: #F0B429;
	width: 370px;
	height: 640px;
	border-radius: 5px;
	margin:5px 10px 5px 10px;
}
#autor3{
	float:left;
	background: #333333;
	width: 370px;
	height: 640px;
	border-radius: 5px;
	margin:5px 10px 5px 10px;
}